* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anta", sans-serif;
}

:root {
  --primaryColor: #1a1a1a;
  --secondaryColor: #195b56;
  --coPrimaryColor: #141313; 
  --highlightColor : #383737;
  --niceColor: rgba(255, 255, 255, 0.8);
}

body {
  background-color: var(--coPrimaryColor);
}

/************ Navbar Css ************/
.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999999;
  transition: 0.32s ease-in-out;
  background-color: var(--primaryColor);
  text-decoration: none;
  color: white;
  height: 110px;
}

.navleft {
  padding: 0;
  margin: 0;
}
.navleft a {
  text-decoration: none;
  text-decoration-line: none;
  z-index: 99999;
}

.navleft span {
  z-index: 99999;
  color: white;
  font-size: 1.7rem;
  padding: 20px;
  
}

.leftIcon {
  margin-left: 0;
  min-height: 2.2rem;
  min-width: 2.2rem;
  margin-bottom: 12px;
  cursor: pointer;
  display: none;
}

.leftIcon:hover{
  transform: scale(1.2); 
  filter: brightness(1.2);
  transition: 0.8 ease-out;
}

.navsearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 5px;
}

.navsearch form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navsearch .search-box:focus {
  border-color: var(--secondaryColor);
}

.navsearch .searchIcon {
  display: flex;
  position: absolute;
  left: 0;
  color: black;
  padding: 0 10px;
}

.navsearch form input {
  width: 60%;
  height: 50px;
}

.navsearch form input:focus {
  border-color: var(--secondaryColor);
}

.btn {
  width: 20%;
  height: 53px;
  border: none;
  margin-left: -5px;
  background-color: var(--highlightColor);
  color: white;
  transition: 0.3s ease-in;
}

.btn:hover {
  background-color: var(--secondaryColor);
}

.btn:active {
  background-color: var(--secondaryColor);
}

.navright {
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.navright .rightIcon {
  margin-right: 10%;
  height: 2.2rem;
  width: 2.2rem;
  margin-bottom: 15px;
  cursor: pointer;
}

.rightIcon.drop {
  margin-bottom: 0;
}

.rightIcon:hover {
  
}

.navright .rightIcon:hover {
  transform: scale(1.2); 
  filter: brightness(1.2);
  transition: 0.8 ease-out;
}

.navright .user img {
  margin-right: 20px ;
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 20px;
}

.navright .collapseIcon {
  display: none;
}

.navright .searchIcon {
  display: none;
}
 
.navright .collapseIcon {
  display: flex;
  cursor: pointer;
  width: 2.2rem;
  height: 2.2rem;
}

.navright .collapseIcon:hover {
  transform: scale(1.2); 
  filter: brightness(1.2);
  transition: 0.8 ease-out;
}


.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--primaryColor);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-right: 1%;
  cursor: pointer;
}

.dropDownTitle,
.sectionTitle {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  cursor:auto;
}

.sectionTitle {
  margin-top: 0;
}

.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.menuItem.message, 
.menuItem.notifs {
  display: flex;
  flex-direction: column;
  align-items:start;
}

.menuItem.center {
  display: flex;
  justify-content: center;
}

.menuItem:hover {
  background-color: var(--secondaryColor);
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
}

.profileImage {
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  cursor: auto;
}

.userInfo:hover {
  background-color: var(--secondaryColor);
}

.profileName {
  font-weight: bold;
}

.profileEmail {
  color: white;
}

.separatorLine {
  height: 1px;
  background-color: #ccc;
  margin: 8px 0; /* Adjust the margin as needed */
}

.messageContent {
  display: flex;
}

.messageContent.time,
.notificationContent.time  {
  font-size: 0.8rem;
  font-weight: lighter;
}


/* ----LeftBar----------*/
.leftBar {
  width: 280px;
  min-height: 100vh;
  background-color: var(--coPrimaryColor);
  color: white;
  padding-top: 20px;
  z-index: 0;
  transition: 0.3s ease-in-out; 
}

.leftBar .container {
  margin-top: 50%;
  padding: 0 20px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.profile-menuItem { 
  text-decoration: none; 
  color: inherit;
  margin: 0;

}

.user,
.item,
.active {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.item:hover {
  background-color: var(--secondaryColor);
}

.user.active,
.item.active,
.active {
  background-color: var(--SecondaryColor); 
}

.icon {
  font-size: 24px;
  margin-right: 20px;
}

span {
  font-size: 18px;
}

.leftbar-avatar {
  margin: 0;
  margin-right: 10px;
}


/* ----RightBar----------*/
.rightBar {
  width: 400px;
  background-color: var(--coPrimaryColor);
  color: white;
  padding-top: 20px;
  transition: 0.3s ease-in-out;
}

.rightBar .container {
  padding: 0 20px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.profile-menuItem { 
  text-decoration: none; 
  color: inherit;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.item:hover {
  background-color: var(--secondaryColor);
}

.active {
  background-color: var(--SecondaryColor); 
}

.icon {
  font-size: 24px;
  margin-right: 20px;
}

span {
  font-size: 18px;
}

.rightbar-avatar {
  margin-right: 10px;
}



/*------PostCard------*/
.post-card {
  background-color: var(--primaryColor);
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 27px auto 20px auto;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: inherit;
}

.header .username {
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
}

.header .avatar {
  cursor: pointer;
  margin-top: 10px;
}

.post-content {
  margin-bottom: 15px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 10px;
}

.action-button {
  display: flex;
  align-items: center;
  margin-right: 15px;
  background-color: var(--highlightColor);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  width: 100px;
}

.action-button:hover {
  background-color: var(--secondaryColor);
}

.action-button .MuiSvgIcon-root {
  margin-right: 5px;
}

.action-count {
  margin-left: 5px;
  color: white;
}

.icon {
  color: white;
}

.icon.action-active {
  color: #195b56;
}
.action-count.action-active {
  color: #195b56;
}

.action-btn {
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}


/*------comments-------*/
.comment-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.comment {
  margin-top: 20px;
  margin-bottom: 20px;
}

.comment-actions {
  
}

/*--------replies--------*/
.replies {
  margin-left: 20px;
}

.reply {
  margin-bottom: 10px;
}

.reply-actions {
 margin-right: 30px; 
}

.reply-button.action-active {
  color: #195b56;
}

.reply-header {
  margin-top: 20px;
}


/*-----new--------*/
.new {
  margin-top: 15px ;
  color: white;
}

.new form {
  display: flex;
  flex-direction: column; 
  padding: 10px;

}

.input-box {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: var(--primaryColor);
  overflow: hidden;
  resize: none;
}

.input-box:focus {
  outline: none;
  border-color: var(--secondaryColor);
}

.sendIcon {
}

.sendIcon:active, 
.iconBtn:active {
  color: #195b56;
}

.iconBtn {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  justify-items: center;
  align-content: center;
}

/*------new post--------*/
.new-post {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--primaryColor);
}

.new-post form {
  display: flex;
  flex-direction: column; 
}

.new-post .actions {
  margin: 0;
}

.new-post .input-box {
  border: none;
  height: 100px;
  overflow: hidden;
  resize: none;
}

.new-post .iconBtn {
  margin: 0;
  padding: 0;
}



/*-------home--------------*/

.home-container {
  margin-top: 10px;
  display: flex;
}

.home-content {
  width: 100%;
}

/*--------profile----------*/
.profile {
  display: flex;
  color: white;
  width: 100%;
  padding-top: 10px;
}

.profile-content {
  width: 100%;
  background-color: var(--primaryColor);
  border-radius: 10px;
  margin-top: 15px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-header img {
  width: 180px;
  height: 180;
  border-radius: 90px;
}

.username {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.profile-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.profile-link {
  cursor: pointer;
  margin: 0 50px;
  font-size: 1.2rem;
}

.profile-link:hover {
  text-decoration: underline;
  color: var(--secondaryColor);
}

/* Stream CSS */
.stream {
  background-color: var(--primaryColor);
  padding: 15px;
}

.stream .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.video-item {
  width: 100%;
}

.video-thumbnail {
  background-color: var(--primaryColor);
  color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.video-thumbnail img {
  width: 340px;
  height: 270px; 
  object-fit: cover; 
  border-radius: 10px;
  transition: transform 0.3s ease; 

}

.video-thumbnail img:hover {
  transform: scale(1.02); 
}

.creator-info {
  display: flex;
  align-items: center;
  margin-top: 3px; 
  margin-left: 10px;
  cursor: pointer;
}

.video-thumbnail .username {
  font-weight: light;
  font-size: 1.4rem;
}

.video-thumbnail .username:hover {
  color: rgba(255, 255, 255, 0.8);
}

.video-info {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1rem;
}

.video-date {
  margin-left: 30%;
  
}

/*-------------------------*/

@media screen and (max-width: 768px) {
  .profile-content {
    width: 100%;
    margin-top: 0;  
  }

  .profile-link {
    margin: 0 15px;
    font-size: 1rem;
  }

  .post-card {
    width: 100%;
  }

  .new-post {
    margin-top: 0;
  }
}

@media (max-width: 920px) {

  .navright {
    margin-right: 10%;
  }

  .navsearch {
    width: 50%;
  }

  .navsearch .btn {
    width: 35%;
  }

  .navright .searchIcon {
    display: flex;
  }

  .leftBar {
    display: none;
  }

  .rightBar {
    display: none;
  }


}

@media (max-width: 650px) {
 
  .navsearch {
    width: 90%;
    margin-left: 5%;
  }
  .navsearch .btn {
    width: 30%;
  }
}